@import 'tailwindcss' theme(static);
@plugin "daisyui" {
  themes: all;
}
@source "../views/";
@source "../../app/";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  h1 {
    @apply text-4xl lg:text-6xl font-bold mb-4;
  }

  h2 {
    @apply text-xl lg:text-5xl font-semibold;
  }

  section {
    @apply h-screen relative flex;
  }
}

@layer components {
  .menu {
    @apply opacity-0 lg:shadow-md lg:fixed lg:top-0 lg:left-0  lg:!w-full z-50  space-x-8 lg:shadow-md justify-center lg:py-6 no-underline transform duration-700 transition-all ease-in-out;
    background: linear-gradient(to bottom, #ffffffbf 0%, #49494926 100%);
    backdrop-filter: blur(3px);
    place-content: center;
    font-weight: 600;
    /*text-transform: uppercase;*/
    gap: 4rem;
    will-change: transform, opacity;
  }

  .active-menu {
    @apply !opacity-100;
  }

  .cadre {
    background-color: #75bcbe;
  }
  .detail {
    @apply bg-white/60 flex flex-col justify-center p-12 rounded-xl items-center;
  }

  .details-container {
    @apply relative flex justify-center items-center overflow-hidden;
    min-height: 150px; /* hauteur fixe pour éviter le layout shift */
  }

  .detail-container {
    @apply opacity-0 p-24 transform duration-500 transition-all ease-in-out;
  }

  .span-1 {
    @apply mb-8;
    height: 200px;
    width: 200px;
    z-index: 100;
  }
  .active {
    @apply -translate-y-10 !opacity-85;
    pointer-events: auto;
  }

  /* .detail-bb,
  .detail-femme {
    @apply inset-0 transform duration-800 transition-all ease-in-out opacity-0;
    pointer-events: none;
  }
  */

  .container-circle {
    @apply opacity-0 rounded-full transform duration-500 transition-all ease-in-out;
    height: 190%;
    aspect-ratio: 1;
    z-index: 50;
    mask: radial-gradient(circle, black 30%, transparent 70%);
  }
}
