@import 'tailwindcss' theme(static);
@plugin "daisyui" {
  themes: all;
}
@source "../views/";
@source "../../app/";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  h1 {
    @apply text-4xl lg:text-6xl font-bold mb-4;
  }

  h2 {
    @apply text-xl lg:text-5xl font-semibold;
  }

  section {
    @apply h-screen relative flex;
  }
}
